body{
  background-color: rgb(105, 80, 112);
}
.but{
  margin-top: 10%;
  text-align: center;
}
.head{
  margin-left: 10%;
}
.button{
  background-color:rgb(180, 220, 157);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 5%;
}
.link{
  text-decoration: none;
  color: rgb(3, 110, 139);
}
.box{
  margin-left: 30%;

}
.form{
  width: fit-content;
  background-color: rgb(237, 233, 22);
  border-radius: 5%;
  padding: 3%;
  margin-left: 10%;
  line-height: 150%;
 
}

.sub{
  margin-left: 35%;
}